* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: linear-gradient(120deg, white 2%, var(--primaryColor));
}

header h1 {
    text-transform: uppercase;
    font-family: "retronoid";
    color: #290CFF;

    text-shadow: -10px 10px 0px #00F1FF,
    -5px 5px 0px #00F1FF,
    -15px 15px 0px #00F1FF;
}

/* NAV */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondaryColor);
    position: sticky;
    top: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index: 10;
}

nav ul {
    padding: 0;
}

nav a, footer a, header a {
    text-decoration: none;
    color: var(--fontColor);
    transition: 0.3s;
}

nav a:hover, footer a:hover {
    opacity: 0.5;
}

nav a:active, footer a:active {
    color: white;
}

li {
    list-style-type: none;
    display: inline-block;
    font-family: "retronoid", arial, sans-serif;
    padding-left: 2em;
}

.fas {
    color: var(--fontColor);
}

input {
    height: 20%;
    border: 1px solid var(--fontColor);
    border-radius: 5px;
}

.input-search {
    position: relative;
    left: 9.375em;
}

/* MAIN */
main {
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(pics/backround-img.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.the-big-container {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

.container-items {
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.picture-item img {
    min-width: 25em;
    min-height: 14.063em;
    height: 14.063em;
    width: 25%;
    border: 0px solid black;
    border-radius: 3px;
}

.items {
    width: 25em;
    margin: 4em 6.25em;
    border: 0px solid black;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    overflow: hidden;
    background-color: var(--primaryColor);
}

.accueil-item {
    background-color: #676876;
}

.picture-item h2 {
    font-family: "attack", arial, sans-serif;
    text-align: center;
    color: var(--fontColor);
    margin: 10px 10px;
    transition: 0.3s;
    text-shadow: 0px 3px 0px #b2a98f,
    0px 14px 10px rgba(0, 0, 0, 0.15),
    0px 24px 2px rgba(0, 0, 0, 0.1),
    0px 34px 30px rgba(0, 0, 0, 0.1);
}

.accueil-picture-item .h2-color {
    color: black;
}

.accueil-picture-item h2 {
    font-family: 'JamSession-Regular';
}

figure {
    margin: 0;
}

figcaption {
    font-family: "attack", arial, sans-serif;
    margin: 5px;
    color: var(--fontColor);
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}

audio {
    z-index: 1;
}

.audio-item {
    padding-left: 10px;
    padding-bottom: 5px;
}

.audio-item img {
    width: 15%;
    border: 0px solid black;
    border-radius: 50%;
    box-shadow: inset 0 0 8px 3px #dfdfdf;
    margin-left: 5px;
    transition: 0.3s;
}

.audio-item img:hover {
    transform: scale(1.2, 1.2);
}

.audio-item img:active {
    opacity: 0.65;
}

/* FOOTER */
footer {
    height: 100px;
    background-color: var(--primaryColor);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

footer li {
    margin-right: 0.2em;
    padding-left: 0;
    padding-right: 2em;
    font-size: 1.125em;
}

footer ul {
    margin: 0;
}

.font-size-syntwave-footer {
    font-size: 0.5em;
}

.footer-font-size li {
    font-family: 'JamSession-Regular';
}

.footer-font-size a {
    color: black;
}

.footer-back-color {
    background-color: #676876;
}

/*VAR */
:root {
    --primaryColor: #9B00E8;
    --secondaryColor: #FF019A;
    --fontColor: #290CFF;
}

/* FONT */
@font-face {
    font-family: "retronoid";
    src: url("font-family/Retronoid.ttf") format("truetype");
}

@font-face {
    font-family: "attack";
    src: url("font-family/wave-attack.ttf") format("truetype")
}

/* MEDIAS */
@media all and (max-width: 500000px) {
    .input-search-span {
        display: none;
    }
}

@media all and (max-width: 1220px) {
    .input-search {
        position: relative;
        left: 100px;
    }

    .input-search-span {
        display: none;
    }
}

@media all and (max-width: 770px) {
    .input-search {
        position: relative;
        left: 20px;
    }

    .input-search-span {
        display: none;
    }
}

@media all and (max-width: 610px) {

    .input-search {
        display: none;
    }
}


/*Partie d'Elias*/
#fond {
    background-image: url(FontX/fond.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*Header*/
.back {
    background-image: none;
    display: flex;
    flex-flow: column wrap;
}

.deux {
    background: linear-gradient(180deg, var(--primaryColor), silver 50%);

}

.police {
    font-family: 'JamSession-Regular';
    text-shadow: none;
    color: black;
}

.police a {
    color: black;
}

.phonoX header {
    background: linear-gradient(90deg, #676876 0%, #808187 50%, #6E6F77 100%);
    padding-top: 2em;
    padding-bottom: 1em;
    width: 100%;
    text-align: center;
    font-family: 'JamSession-Regular';
    font-size: 40px;
}


/*barnav*/
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondaryColor);
    position: sticky;
    top: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index: 10;
}

nav ul {
    padding: 0;
}

nav a, footer a, header a {
    text-decoration: none;
    color: var(--fontColor);
    transition: 0.3s;
}

nav a:hover, footer a:hover {
    opacity: 0.5;
}

nav a:active, footer a:active {
    color: white;
}

.taille li {
    list-style-type: none;
    display: inline-block;
    font-size: 35px;
    padding-left: 2em;
}

.taille {
    background-color: grey;
}

/*Fin barnav*/
/*Fin header*/

/*main*/
.phonoX p {
    border: 3px solid;
    border-radius: 4px;
    margin: 3%;
    font-family: 'Bernardo_Moda_Bold';
    font-size: 30px;
}

.couleur {
    color: white;
}

.phonoX h2 {
    text-align: center;
}

.phonoX h2, h3 {
    font-family: 'Autography';
    font-size: 70px;
}

.vinyle1 {
    display: flex;
    flex-flow: row wrap;
    max-width: 1400px;
    margin: auto;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.vinyle2 {
    display: flex;
    flex-flow: row wrap;
    max-width: 1400px;
    margin: auto;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.V {
    width: 500px;
    padding-bottom: 1em;
}

.block-audio {
    max-width: 100%;
    margin: auto;
    padding: 20px;
}

.content-audio {
    position: relative;
    padding-bottom: 10%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

/*Fin main*/

/*Footer*/
footer {
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    text-align: center;
    font-family: 'JamSession-Regular';
    font-size: 40px;
}

footer li {
    margin-right: 0.2em;
    padding-left: 0;
    padding-right: 2em;
    font-size: 1.125em;
}

footer ul {
    margin: 0;
}

/*Fin Footer*/

@font-face {
    font-family: 'JamSession-Regular';
    src: url('FontX/JamSession-Regular.ttf') format(truetype);
    src: local("☺"), url('FontX/JamSession-Regular.ttf') format('ttf'), url('FontX/JamSession-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Autography';
    src: url('FontX/Photograph Signature.ttf') format(truetype);
    src: local("☺"), url('FontX/Photograph Signature.ttf') format('ttf'), url('FontX/Photograph Signature.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Bernardo_Moda_Bold';
    src: url('FontX/Bernardo_Moda_Bold.ttf') format(truetype);
    src: local("☺"), url('FontX/Bernardo_Moda_Bold.ttf') format('ttf'), url('FontX/Bernardo_Moda_Bold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/*Fin de partie d'Elias*/