/*Partie d'Elias*/
#fond
{
	background-image:url(FontX/fond.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
}

/*Header*/
.phonoX header
{
    background: linear-gradient(90deg, #676876 0%, #808187 50%, #6E6F77 100%);
    padding-top:2em;
    padding-bottom: 1em;
    width:100%;
    text-align: center;
    font-family: 'JamSession-Regular';
    font-size: 40px;
}
/*barnav*/
nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondaryColor);
    position: sticky;
    top:0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index:10;
}
nav ul
{
   padding:0;
}
nav a, footer a, header a
{
    text-decoration: none;
    color:var(--fontColor);
    transition: 0.3s;
}
nav a:hover, footer a:hover
{
    opacity: 0.5;
}
nav a:active, footer a:active
{
    color: white;
}
#taille li
{
    list-style-type: none;
    display: inline-block;
    font-size: 35px;
    padding-left:2em;
}
/*Fin barnav*/
/*Fin header*/

/*main*/
.phonoX p
{
	border: 3px solid;
    border-radius: 4px;
    margin: 3%;
    font-family: 'Bernardo_Moda_Bold';
    font-size: 30px;
}

.couleur
{
	color: white;
}
.phonoX h2
{
	text-align: center;
}

.phonoX h2, h3
{
    font-family: 'Autography';
    font-size: 70px;
}
.vinyle1
{
	display: flex;
    flex-flow:row wrap ;
    max-width: 1400px;
    margin: auto;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.vinyle2
{
	display: flex;
    flex-flow:row wrap ;
    max-width: 1400px;
    margin: auto;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.V
{
	width: 500px;
    padding-bottom: 1em;
}

.block-audio
{
	max-width: 100%;
    margin: auto;
    padding: 20px;
}

.content-audio
{
	position: relative;
    padding-bottom: 10%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
/*Fin main*/

@font-face
{
	font-family: 'JamSession-Regular';
	src:url('FontX/JamSession-Regular.ttf') format(truetype);
	src: local("☺"), url('FontX/JamSession-Regular.ttf') format('ttf'), url('FontX/JamSession-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face
{
    font-family: 'Autography';
    src:url('FontX/Photograph Signature.ttf') format(truetype);
    src: local("☺"), url('FontX/Photograph Signature.ttf') format('ttf'), url('FontX/Photograph Signature.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face
{
    font-family: 'Bernardo_Moda_Bold';
    src:url('FontX/Bernardo_Moda_Bold.ttf') format(truetype);
    src: local("☺"), url('FontX/Bernardo_Moda_Bold.ttf') format('ttf'), url('FontX/Bernardo_Moda_Bold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
/*Fin de partie d'Elias*/